.top-container {
    height: 500px;
    background: linear-gradient(#ECA1B7 20%, #F5B7B1 100%);
    position: relative
}

.top-text {
    position: absolute;
    padding: 20px;
    width: 300px;
    left: 50px;
    top: 100px;
}

.button-wrapper {
    display: flex;
    justify-content: left;
}
